<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.disasterprevention">

    <!-- 網路存取權限 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- TV 相關特性 -->
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:banner="@mipmap/app_banner"
        android:roundIcon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.DisasterPrevention"
        android:usesCleartextTraffic="true">


        <!--  啟動畫面（App 封面 / 首頁入口） -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.DisasterPrevention.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--  主畫面（由 SplashActivity 跳轉進來） -->
        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:banner="@mipmap/ic_launcher" />

        <!-- 洪水警報詳情 -->
        <activity
            android:name=".FloodDetailActivity"
            android:exported="false" />

        <!-- 停電詳情 -->
        <activity
            android:name=".PowerOutageDetailActivity"
            android:exported="false"
            android:label="@string/title_activity_power_outage_detail"
            android:theme="@style/Theme.DisasterPrevention" />

        <!-- 舊版主畫面，已不啟動 -->
        <activity android:name=".MainActivity" android:exported="false" />

        <!-- 其他頁面 -->
        <activity android:name=".HistoryActivity" android:exported="false" />
        <activity android:name=".DetailsActivity" android:exported="false" />
        <activity android:name=".PlaybackActivity" android:exported="false" />
        <activity android:name=".BrowseErrorActivity" android:exported="false" />
        <activity android:name=".LatestDetailActivity" android:exported="true" />
        <activity android:name=".WeatherDetailActivity" android:exported="false" />
        <activity android:name=".HeavyRainAlertActivity" android:exported="false" />
        <activity android:name=".WaterOutageActivity" android:exported="false" />
        <activity android:name=".WaterOutageDetailsActivity" android:exported="false" />
        <activity android:name=".WaterOutageMoreActivity" android:exported="false" />
        <activity android:name=".WaterOutageMoreDetailsActivity" android:exported="false" />

    </application>
</manifest>
